-#  This file is app/views/projects/index.html.haml
%h1 All Project Tasks

%table#projects
  %thead
    %tr
      %th Task Title
      %th Task Details
      %th Assigned User
      %th Due Date

  %tbody
    - @projects.each do |project|
      %tr
        %td= project.title 
        %td= link_to "More about #{project.title}", project_path(project)
        %td= project.user
        %td= project.due_date.to_formatted_s(:long)

= link_to 'Add new project task', new_project_path
